<div class="nav-bar">
    <button type="button" ng-click="goIndex()">首頁</button>
    <button type="button" ng-click="goBooks()">館藏查詢</button>

    <button type="button"
            ng-click="goReaderCenter()"
            ng-if="loginUser && loginUser.role == 'READER'">
        讀者中心
    </button>

    <button type="button" ng-click="goMessages()" ng-if="loginUser">
        訊息中心
    </button>

    <button type="button" ng-click="goProfile()" ng-if="loginUser">
        個人資料
    </button>

    <button type="button"
            ng-click="goAdminDashboard()"
            ng-if="loginUser && loginUser.role == 'ADMIN'">
        後台管理
    </button>

    <button type="button" ng-click="goLogin()" ng-if="!loginUser">登入</button>
    <button type="button" ng-click="goRegister()" ng-if="!loginUser">註冊</button>
    <button type="button" ng-click="logout()" ng-if="loginUser">登出</button>
</div>

<p class="login-info" ng-if="loginUser">
    目前登入：{{ loginUser.name || loginUser.username }}（{{ roleText(loginUser.role) }}）
</p>