<!doctype html>
<html ng-app="LibraryApp">
<head>
    <meta charset="utf-8">
    <title>書籍詳情｜iRead Library</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/api.js"></script>
    <script src="./js/book-detail.js"></script>

    <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-controller="BookDetailController">

    <h1>iRead Library 圖書館系統</h1>
    <h2>書籍詳情</h2>

    <div>
        <button type="button" ng-click="goBooks()">返回館藏查詢</button>

        <button type="button" ng-click="goLogin()" ng-if="!loginUser">登入</button>
        <button type="button" ng-click="goRegister()" ng-if="!loginUser">註冊</button>

        <button type="button" ng-click="goMyBorrows()" ng-if="loginUser && loginUser.role == 'READER'">我的借閱</button>
        <button type="button" ng-click="goMyReservations()" ng-if="loginUser && loginUser.role == 'READER'">我的預約</button>
        <button type="button" ng-click="goMessages()" ng-if="loginUser">訊息中心</button>

        <button type="button" ng-click="goAdminBooks()" ng-if="loginUser && loginUser.role == 'ADMIN'">後台管理</button>
        <button type="button" ng-click="logout()" ng-if="loginUser">登出</button>
    </div>

    <p ng-if="loginUser">
        目前登入：{{ loginUser.name || loginUser.username }}（{{ roleText(loginUser.role) }}）
    </p>

    <hr>

    <p style="color:red;" ng-if="errorMessage">
        {{ errorMessage }}
    </p>

    <div ng-if="!book && !errorMessage">
        資料載入中...
    </div>

    <div ng-if="book">

        <table>
            <tr>
                <td style="width:120px;">封面</td>
                <td>
                    <img ng-if="book.coverUrl" ng-src="{{ book.coverUrl }}" width="120" height="160">
                    <span ng-if="!book.coverUrl">無封面</span>
                </td>
            </tr>

            <tr>
                <td>書名</td>
                <td>{{ book.title }}</td>
            </tr>

            <tr>
                <td>作者</td>
                <td>{{ book.author }}</td>
            </tr>

            <tr>
                <td>ISBN</td>
                <td>{{ book.isbn }}</td>
            </tr>

            <tr>
                <td>出版社</td>
                <td>{{ book.publisher }}</td>
            </tr>

            <tr>
                <td>出版年份</td>
                <td>{{ book.publishYear }}</td>
            </tr>

            <tr>
                <td>分類</td>
                <td>
                    {{ book.categoryId }}
                    <span ng-if="book.categoryName"> - {{ book.categoryName }}</span>
                </td>
            </tr>

            <tr>
                <td>書籍狀態</td>
                <td>{{ bookStatusText(book.status) }}</td>
            </tr>

            <tr>
                <td>館藏數</td>
                <td>
                    總館藏：{{ book.totalCopyCount || 0 }}　
                    可借：{{ book.availableCopyCount || 0 }}
                </td>
            </tr>

            <tr>
                <td>簡介</td>
                <td>{{ book.description || '無' }}</td>
            </tr>
        </table>

        <div style="margin-top: 20px;">

            <button type="button"
                    ng-click="borrowBook()"
                    ng-if="canShowBorrowButton()"
                    ng-disabled="isBorrowDisabled()">
                借閱
            </button>

            <button type="button"
                    ng-click="reserveBook()"
                    ng-if="canShowReserveButton()">
                預約
            </button>

            <span style="color:red;" ng-if="loginUser && loginUser.role == 'READER' && isBorrowSuspended()">
                你的借書權限已暫停，請聯繫管理員。
            </span>

            <span ng-if="!loginUser">
                請先登入後才能借閱或預約。
            </span>

            <span ng-if="loginUser && loginUser.role == 'ADMIN'">
                管理員不可在此頁借閱，可至後台管理書目與館藏。
            </span>

        </div>

        <hr>

        <h3>館藏冊本</h3>

        <table>
            <tr>
                <th>館藏ID</th>
                <th>條碼</th>
                <th>位置</th>
                <th>狀態</th>
                <th>備註</th>
            </tr>

            <tr ng-repeat="copy in copies">
                <td>{{ copy.copyId }}</td>
                <td>{{ copy.copyCode }}</td>
                <td>{{ copy.location }}</td>
                <td>{{ copyStatusText(copy.copyStatus) }}</td>
                <td>{{ copy.note || '' }}</td>
            </tr>

            <tr ng-if="copies.length == 0">
                <td colspan="5">目前沒有館藏冊本資料</td>
            </tr>
        </table>

    </div>

</body>
</html>