<!doctype html>
<html ng-app="LibraryApp">
<head>
    <meta charset="utf-8">
    <title>館藏查詢｜iRead Library</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/api.js"></script>
    <script src="./js/books.js"></script>

    <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-controller="BookController">

    <h1>iRead Library 圖書館系統</h1>
    <h2>館藏查詢</h2>

    <div ng-if="loginUser && loginUser.role == 'ADMIN'"
        ng-include="'partials/admin-nav.html'"></div>

    <div ng-if="!loginUser || loginUser.role != 'ADMIN'"
        ng-include="'partials/reader-nav.html'"></div>

    <hr>

    <form ng-submit="loadBooks()">
        <table>
            <tr>
                <td>關鍵字</td>
                <td>
                    <input type="text" ng-model="searchForm.keyword" placeholder="書名 / 作者 / ISBN">
                </td>
            </tr>

            <tr>
                <td>分類</td>
                <td>
                    <select ng-model="searchForm.categoryId">
                        <option value="">全部分類</option>
                        <option ng-repeat="category in categories" value="{{ category.categoryId }}">
                            {{ category.categoryId }} - {{ category.categoryName }}
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>狀態</td>
                <td>
                    <select ng-model="searchForm.status">
                        <option value="">全部</option>
                        <option value="ACTIVE">上架</option>
                        <option value="DISABLED">下架</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="submit">查詢</button>
                    <button type="button" ng-click="clearSearch()">清除</button>
                </td>
            </tr>
        </table>
    </form>

    <p style="color:red;" ng-if="errorMessage">
        {{ errorMessage }}
    </p>

    <p>
        查詢結果：共 {{ books.length }} 筆
    </p>

    <table>
        <tr>
            <th>封面</th>
            <th>書名</th>
            <th>作者</th>
            <th>ISBN</th>
            <th>分類</th>
            <th>館藏</th>
            <th>狀態</th>
            <th>操作</th>
        </tr>

        <tr ng-repeat="book in pagedBooks()">
            <td>
                <img ng-if="book.coverUrl" ng-src="{{ book.coverUrl }}" width="60" height="80">
                <span ng-if="!book.coverUrl">無封面</span>
            </td>

            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.isbn }}</td>

            <td>
                {{ book.categoryId }}
                <span ng-if="book.categoryName"> - {{ book.categoryName }}</span>
            </td>

            <td>
                總數：{{ book.totalCopyCount || 0 }}<br>
                可借：{{ book.availableCopyCount || 0 }}
            </td>

            <td>{{ bookStatusText(book.status) }}</td>

            <td>
                <button type="button" ng-click="goDetail(book)">查看詳情</button>
            </td>
        </tr>

        <tr ng-if="books.length == 0">
            <td colspan="8">目前沒有符合條件的書籍</td>
        </tr>
    </table>

    <div style="margin-top: 20px;" ng-if="books.length > 0">
        <button type="button" ng-click="prevPage()" ng-disabled="currentPage == 0">上一頁</button>

        第 {{ currentPage + 1 }} 頁 / 共 {{ numberOfPages() }} 頁

        <button type="button" ng-click="nextPage()" ng-disabled="currentPage >= numberOfPages() - 1">下一頁</button>
    </div>

</body>
</html>