<!doctype html>
<html ng-app="LibraryApp">
<head>
    <meta charset="utf-8">
    <title>首頁｜iRead Library</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/api.js"></script>
    <script src="./js/index.js"></script>

    <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-controller="IndexController">

    <h1>iRead Library 圖書館系統</h1>

    <div ng-if="loginUser && loginUser.role == 'ADMIN'"
        ng-include="'partials/admin-nav.html'"></div>

    <div ng-if="!loginUser || loginUser.role != 'ADMIN'"
        ng-include="'partials/reader-nav.html'"></div>

    <hr>

    <h2>館藏服務</h2>

    <div class="panel-card">
        <div class="home-card-grid">
            <div>
                <h3>館藏查詢</h3>
                <p>查詢書籍、查看可借館藏，登入後可進行借閱或預約。</p>
                <button type="button" ng-click="goBooks()">前往館藏查詢</button>
            </div>

            <div ng-if="loginUser && loginUser.role == 'READER'">
                <h3>我的借閱</h3>
                <p>查看目前借閱、申請歸還、確認到期日。</p>
                <button type="button" ng-click="goReaderBorrows()">查看我的借閱</button>
            </div>

            <div ng-if="loginUser && loginUser.role == 'READER'">
                <h3>我的預約</h3>
                <p>查看預約狀態、可取通知與取消預約。</p>
                <button type="button" ng-click="goReaderReservations()">查看我的預約</button>
            </div>

            <div ng-if="loginUser && loginUser.role == 'ADMIN'">
                <h3>後台管理</h3>
                <p>管理書目、館藏、借閱、預約與使用者。</p>
                <button type="button" ng-click="goAdminDashboard()">前往後台管理</button>
            </div>
        </div>
    </div>

    <hr>

    <h2>圖書館統計</h2>

    <table>
        <tr>
            <td>館藏書目數</td>
            <td>{{ publicSummary.totalBookCount }}</td>
        </tr>

        <tr>
            <td>目前可借館藏</td>
            <td>{{ publicSummary.availableCopyCount }}</td>
        </tr>

        <tr>
            <td>今日借閱數</td>
            <td>{{ publicSummary.todayBorrowCount }}</td>
        </tr>

        <tr>
            <td>本月借閱數</td>
            <td>{{ publicSummary.monthBorrowCount }}</td>
        </tr>
    </table>

    <hr>

    <h2>本月熱門借閱 Top 5</h2>

    <table>
        <tr>
            <th>排名</th>
            <th>書名</th>
            <th>作者</th>
            <th>本月借閱數</th>
            <th>操作</th>
        </tr>

        <tr ng-repeat="book in topBorrowedBooks">
            <td>{{ $index + 1 }}</td>
            <td>{{ book.title || book.bookTitle || '無書名資料' }}</td>
            <td>{{ book.author || '' }}</td>
            <td>{{ book.borrowCount || book.monthBorrowCount || 0 }}</td>
            <td>
                <button type="button" ng-click="openBookDetail(book)">
                    查看書籍
                </button>
            </td>
        </tr>

        <tr ng-if="topBorrowedBooks.length == 0">
            <td colspan="5">目前尚無熱門借閱資料</td>
        </tr>
    </table>

    <div ng-if="loginUser && loginUser.role == 'READER'">
        <hr>

        <h2>我的摘要</h2>

        <table>
            <tr>
                <td>目前借閱中</td>
                <td>{{ readerSummary.borrowingCount }}</td>
            </tr>

            <tr>
                <td>預約等待中</td>
                <td>{{ readerSummary.waitingReservationCount }}</td>
            </tr>

            <tr>
                <td>未讀訊息</td>
                <td>{{ readerSummary.unreadMessageCount }}</td>
            </tr>
        </table>
    </div>

    <div ng-if="loginUser && loginUser.role == 'ADMIN'">
        <hr>

        <h2>管理員待處理摘要</h2>

        <table>
            <tr>
                <td>歸還待審核</td>
                <td>{{ adminSummary.returnPendingCount }}</td>
            </tr>

            <tr>
                <td>等待預約通知</td>
                <td>{{ adminSummary.waitingReservationCount }}</td>
            </tr>

            <tr>
                <td>逾期借閱</td>
                <td>{{ adminSummary.overdueCount }}</td>
            </tr>
        </table>
    </div>

    <p style="color:red;" ng-if="errorMessage">
        {{ errorMessage }}
    </p>

</body>
</html>