<!doctype html>
<html ng-app="LibraryApp">
<head>
    <meta charset="utf-8">
    <title>訊息中心｜iRead Library</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/api.js"></script>
    <script src="./js/messages.js"></script>

    <link rel="stylesheet" href="./css/style.css">
</head>

<body ng-controller="MessagesController">

    <h1>iRead Library 圖書館系統</h1>
    <h2>訊息中心</h2>

    <div ng-if="loginUser && loginUser.role == 'ADMIN'"
        ng-include="'partials/admin-nav.html'"></div>

    <div ng-if="!loginUser || loginUser.role != 'ADMIN'"
        ng-include="'partials/reader-nav.html'"></div>

    <hr>

    <p style="color:red;" ng-if="errorMessage">
        {{ errorMessage }}
    </p>

    <p>
        未讀訊息：{{ unreadCount }} 筆　
        全部訊息：{{ messages.length }} 筆
        <button type="button" ng-click="reloadMessages()">重新整理</button>
    </p>

    <div>
        <button type="button" ng-click="setFilter('ALL')">全部</button>
        <button type="button" ng-click="setFilter('UNREAD')">未讀</button>
        <button type="button" ng-click="setFilter('READ')">已讀</button>
    </div>

    <br>

    <table>
        <tr>
            <th>狀態</th>
            <th>類型</th>
            <th>標題</th>
            <th>內容</th>
            <th>建立時間</th>
            <th>操作</th>
        </tr>

        <tr ng-repeat="message in pagedMessages()"
            ng-class="{ 'unread-row': !message.isRead }">

            <td>
                <span ng-if="message.isRead">已讀</span>
                <span ng-if="!message.isRead" style="color:red;">未讀</span>
            </td>

            <td>
                {{ messageTypeText(message.messageType) }}
            </td>

            <td>
                {{ message.title }}
            </td>

            <td>
                {{ message.content }}
            </td>

            <td>
                {{ message.createdAt }}
            </td>

            <td>
                <button type="button"
                        ng-click="markAsRead(message)"
                        ng-if="!message.isRead">
                    標記已讀
                </button>

                <button type="button"
                        ng-click="deleteMessage(message)">
                    刪除
                </button>
            </td>
        </tr>

        <tr ng-if="filteredMessages().length == 0">
            <td colspan="6">目前沒有訊息</td>
        </tr>
    </table>

    <div style="margin-top: 20px;" ng-if="filteredMessages().length > 0">
        <button type="button" ng-click="prevPage()" ng-disabled="currentPage == 0">上一頁</button>

        第 {{ currentPage + 1 }} 頁 / 共 {{ numberOfPages() }} 頁

        <button type="button" ng-click="nextPage()" ng-disabled="currentPage >= numberOfPages() - 1">下一頁</button>
    </div>

</body>
</html>